/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*dashboard */

.black-bg{
	background-color: #423a5d;
	width: 100%;
	display: inline-block;
	
	padding-left: 20px;
	padding-top: 20px;
}
.header{
	position: fixed;
	border-bottom: solid  2px black;
}
.logout{
	background-color: #9c4c9d;
	border-radius: 10px;
	width: 100px;
	text-align: center;
	color: white;
}
#sidebar{
	position: fixed;
	width: 10%;	
	top:10%;

}
.nav-collase{
	height: 100%;
}

.sidebar-menu{
	background-color: #423a5d;
	width: 200px;
	height: 100vh;
	border-top: 2px solid black;
}
.box1{
	font-size: 40px;
	border-bottom: 2px solid gray;
	text-align: center;
	color: gray;
}
.sub-menu{
	list-style: none;
	margin: 15% 0 5% 0;

}
.box0 p{
  text-align: center;
  color:red;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}
.box0:hover p{
	 display: block;
}
.box0:hover{
	background-color: white;
	padding: 1%;
	 border-bottom: 1px solid white;
}
.sidebar-toggle-box{
	display: inline-block;
	color: white;
	font-size: 20x;	
}
.sub-menu a{
	text-decoration: none;
}
a:hover{
	background-color: #9c4c9d;
	color: white;
}
.top-menu{
	display: inline;
	padding: 0 20px 5px 0;
}
.hidden-xs{
	color: white;
	font-size: 18px;
	margin-right: 20px;
}
#main-content{
	position: absolute;
	left: 200px;
	top: 70px;
	padding: 3%;
	background-color: #f2f2f2;
}
.text-center{
	color: white;
	font-weight: bold;
	padding: 0 10px 0 0 ;
}
li span{
	color: gray;
	padding: 0 0 0 5px;
	font-size: 12px;
}
li i{
	color: gray;
	font-size: 15px;
}

.candy{
	background-color: #9c4c9d;
	color: white;
	width: 250px;
	height: 50px;
	font-size: medium;
	text-align: center;
	padding: 15px 0 0 0;
}
.candy2{
	background-color: #9c4c9d;
	color: white;
	width: 250px;
	height: 50px;
	font-size: medium;
	text-align: center;
	padding: 15px 0 0 0;
}
.ds{
	background-color: white;
}
.desc{
	border-bottom: 1px solid gray;
	display: inline-block;
	padding: 15px 0 15px 0;
}
.fa-clock-o{
	color: white;
	font-size: 15px;
}
.badge{
	background-color: #68DFF0;
	font-size: 15px;
}
.lado{
	font-style: oblique;
}
.page-header{
	color: gray;
}
/*buttoms*/

/*progress Bars*/
#main-content{
	width: 85%;
}
.showback{
	border: 1px solid #e7e7e7;
	margin-bottom: 15px;
	background-color: white;
	padding: 10px;
	 -webkit-box-shadow: 0 10px 6px -6px #777;
                -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;
}

/*Forms_component*/
.form-panel{
	background-color: white;
	padding: 20px 5px 20px 5px;
	border: 1px solid #e7e7e7;
	margin-bottom: 30px;
	padding: 10px;
	 -webkit-box-shadow: 0 10px 6px -6px #777;
                -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;
}
.der{
	text-align: left;
}
.form-group{
	margin-bottom: 2px solid gray;
}

/*Gallery*/

img{
	margin-bottom: 10%;
}
h4{
	color: gray;
}